<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.hr.HrAttendanceRuleMapper">
    <resultMap type="HrAttendanceRule" id="HrAttendanceRuleResult">
        <id property="ruleId" column="rule_id"/>
        <result property="lateMinutes" column="late_minutes"/>
        <result property="earlyMinutes" column="early_minutes"/>
        <result property="absentMinutes" column="absent_minutes"/>
        <result property="multiPunchStrategy" column="multi_punch_strategy"/>
    </resultMap>

    <select id="selectActiveRule" resultMap="HrAttendanceRuleResult">
        select * from hr_attendance_rule where rule_id = 1
    </select>

    <update id="updateHrAttendanceRule" parameterType="HrAttendanceRule">
        update hr_attendance_rule
        set late_minutes = #{lateMinutes},
            early_minutes = #{earlyMinutes},
            absent_minutes = #{absentMinutes},
            multi_punch_strategy = #{multiPunchStrategy},
            update_by = #{updateBy},
            update_time = sysdate()
        where rule_id = #{ruleId}
    </update>
</mapper>
