<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      th:with="yesNoList=${@dict.getType('hr_yes_no')},scheduleModeList=${@dict.getType('hr_shift_schedule_mode')}">
<head>
    <th:block th:include="include :: header('修改班次')"/>
</head>
<body class="white-bg">
<div class="main-content">
    <form id="form-shift-edit" class="form-horizontal" th:object="${shift}">
        <input type="hidden" id="shiftId" name="shiftId" th:field="*{shiftId}"/>

        <h4 class="form-header h4">基础信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">班次名称：</label>
                    <div class="col-sm-8">
                        <input id="shiftName" name="shiftName" class="form-control" th:field="*{shiftName}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">班次编码：</label>
                    <div class="col-sm-8">
                        <input id="shiftCode" name="shiftCode" class="form-control" th:field="*{shiftCode}" readonly required>
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 根据班次名称自动生成</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">排班模式：</label>
                    <div class="col-sm-8">
                        <select id="scheduleMode" name="scheduleMode" class="form-control">
                            <option th:each="dict : ${scheduleModeList}" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:selected="${shift.scheduleMode == dict.dictValue || (shift.scheduleMode == null and dict.dictValue == 'WEEKLY')}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 rotation-config">
                <div class="form-group">
                    <label class="col-sm-5 control-label">上班天数：</label>
                    <div class="col-sm-7">
                        <input type="number" id="rotationWorkDays" name="rotationWorkDays" class="form-control" min="1" th:value="*{rotationWorkDays}" placeholder="如 2">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 rotation-config">
                <div class="form-group">
                    <label class="col-sm-5 control-label">休息天数：</label>
                    <div class="col-sm-7">
                        <input type="number" id="rotationRestDays" name="rotationRestDays" class="form-control" min="1" th:value="*{rotationRestDays}" placeholder="如 1">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">岗位选择：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="postTypeName" type="text" class="form-control" onclick="selectPostTree()" readonly required>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                        <input id="postType" name="postType" type="hidden" th:field="*{postType}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">状态：</label>
                    <div class="col-sm-8">
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" id="status" th:checked="${shift.status == '0'}">
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="form-header h4">上班规则</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label is-required">每周上班日：</label>
                    <div class="col-sm-10">
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="0" th:checked="${#strings.length(workdayMask) >= 1 and #strings.substring(workdayMask, 0, 1) == '1'}"> 周一</label>
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="1" th:checked="${#strings.length(workdayMask) >= 2 and #strings.substring(workdayMask, 1, 2) == '1'}"> 周二</label>
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="2" th:checked="${#strings.length(workdayMask) >= 3 and #strings.substring(workdayMask, 2, 3) == '1'}"> 周三</label>
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="3" th:checked="${#strings.length(workdayMask) >= 4 and #strings.substring(workdayMask, 3, 4) == '1'}"> 周四</label>
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="4" th:checked="${#strings.length(workdayMask) >= 5 and #strings.substring(workdayMask, 4, 5) == '1'}"> 周五</label>
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="5" th:checked="${#strings.length(workdayMask) >= 6 and #strings.substring(workdayMask, 5, 6) == '1'}"> 周六</label>
                        <label style="margin-right:12px;"><input type="checkbox" class="workday" data-index="6" th:checked="${#strings.length(workdayMask) >= 7 and #strings.substring(workdayMask, 6, 7) == '1'}"> 周日</label>
                        <input type="hidden" id="workdayMask" name="workdayMask" th:value="${workdayMask}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default btn-sm" href="javascript:void(0)" onclick="applyWorkdayTemplate('single')"><i class="fa fa-clone"></i> 单休模板(周日休)</a>
                <a class="btn btn-default btn-sm" href="javascript:void(0)" onclick="applyWorkdayTemplate('double')"><i class="fa fa-clone"></i> 双休模板(周六周日休)</a>
                <a class="btn btn-default btn-sm" href="javascript:void(0)" onclick="applyWorkdayTemplate('all')"><i class="fa fa-clone"></i> 全勤模板</a>
            </div>
        </div>

        <h4 class="form-header h4">班段配置</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" style="margin-bottom: 10px;">
                    这里配置考勤计算使用的班段。后续 4 次打卡、跨天班、按班段迟到早退，都会以这些班段规则为准。
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="periodTable">
                        <thead>
                        <tr>
                            <th style="width:60px;">序号</th>
                            <th style="width:120px;">班段名称</th>
                            <th style="width:110px;">上班时间</th>
                            <th style="width:110px;">下班时间</th>
                            <th style="width:120px;">有效开始</th>
                            <th style="width:120px;">有效结束</th>
                            <th style="width:90px;">上班打卡</th>
                            <th style="width:90px;">下班打卡</th>
                            <th style="width:80px;">跨天</th>
                            <th>备注</th>
                            <th style="width:90px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="period, stat : ${periods}">
                            <td class="text-center seq" th:text="${stat.count}"></td>
                            <td><input type="text" name="segmentName" class="form-control" maxlength="32" th:value="${period.segmentName}"></td>
                            <td><input type="text" name="periodStart" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" th:value="${period.startTime}" required></td>
                            <td><input type="text" name="periodEnd" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" th:value="${period.endTime}" required></td>
                            <td><input type="text" name="validBegin" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" th:value="${period.validBeginTime}" required></td>
                            <td><input type="text" name="validEnd" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" th:value="${period.validEndTime}" required></td>
                            <td>
                                <select name="needInPunch" class="form-control">
                                    <option th:each="dict : ${yesNoList}" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:selected="${period.needInPunch == dict.dictValue || (period.needInPunch == null and dict.dictValue == '1')}"></option>
                                </select>
                            </td>
                            <td>
                                <select name="needOutPunch" class="form-control">
                                    <option th:each="dict : ${yesNoList}" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:selected="${period.needOutPunch == dict.dictValue || (period.needOutPunch == null and dict.dictValue == '1')}"></option>
                                </select>
                            </td>
                            <td>
                                <select name="crossDay" class="form-control">
                                    <option th:each="dict : ${yesNoList}" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:selected="${period.crossDay == dict.dictValue || (period.crossDay == null and dict.dictValue == '0')}"></option>
                                </select>
                            </td>
                            <td><input type="text" name="segmentRemark" class="form-control" maxlength="100" th:value="${period.segmentRemark}"></td>
                            <td class="text-center"><a href="javascript:void(0)" class="btn btn-danger btn-xs" onclick="removePeriodRow(this)"><i class="fa fa-remove"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-default btn-sm" href="javascript:void(0)" onclick="addPeriodRow()"><i class="fa fa-plus"></i> 增加班段</a>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i> 确认</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-close"></i> 关闭</button>
    </div>
</div>

<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "hr/shift";
    var shiftId = $("#shiftId").val();
    var yesNoDatas = [[${@dict.getType('hr_yes_no')}]];
    var timePattern = /^([01]\d|2[0-3]):([0-5]\d)$/;

    $(function () {
        initWorkdayFromMask($("#workdayMask").val());
        if ($("#periodTable tbody tr").length === 0) {
            addPeriodRow();
        }
        initPostSelection();
        $("#shiftName").on("blur", generateShiftCode);
        $(".workday").on("change", buildWorkdayMask);
        $("#scheduleMode").on("change", toggleScheduleMode);
        $("#form-shift-edit").validate({
            onkeyup: false,
            focusCleanup: true,
            rules: {
                shiftName: {required: true},
                shiftCode: {required: true},
                postType: {required: true}
            }
        });
        toggleScheduleMode();
    });

    function generateShiftCode() {
        var shiftName = $.common.trim($("#shiftName").val());
        if ($.common.isEmpty(shiftName)) {
            return;
        }
        $.post(prefix + "/generateCode", {shiftName: shiftName, shiftId: shiftId}, function (res) {
            if (res.code === 0) {
                $("#shiftCode").val(res.shiftCode);
            }
        });
    }

    function selectPostTree() {
        var postId = $("#postType").data("postId") || "0";
        $.modal.openOptions({
            title: "选择岗位",
            width: "380",
            url: prefix + "/selectPostTree/" + postId,
            btn: ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-trash-o"></i> 清除', '<i class="fa fa-close"></i> 关闭'],
            btn2: function (index) {
                $("#postType").val("").removeData("postId");
                $("#postTypeName").val("");
                $.modal.close(index);
            },
            callBack: doSelectPost
        });
    }

    function doSelectPost(index) {
        var body = $.modal.getChildFrame(index);
        var postId = body.find("#treeId").val();
        var postName = body.find("#treeName").val();
        $("#postType").val(postId + "|" + postName).data("postId", postId);
        $("#postTypeName").val(postName);
        $.modal.close(index);
    }

    function initPostSelection() {
        var val = $("#postType").val();
        if ($.common.isEmpty(val)) {
            return;
        }
        var idx = val.indexOf("|");
        if (idx > -1) {
            var postId = val.substring(0, idx);
            var postName = val.substring(idx + 1);
            $("#postType").data("postId", postId);
            $("#postTypeName").val(postName);
        } else {
            $("#postTypeName").val(val);
        }
    }

    function applyWorkdayTemplate(type) {
        var masks = {
            single: "1111110",
            double: "1111100",
            all: "1111111"
        };
        setWorkdayByMask(masks[type] || "1111100");
    }

    function initWorkdayFromMask(mask) {
        mask = $.common.trim(mask || "").replace(/[^01]/g, "");
        if ($.common.isEmpty(mask) || mask.length !== 7) {
            mask = "1111100";
        }
        setWorkdayByMask(mask);
    }

    function setWorkdayByMask(mask) {
        $(".workday").each(function () {
            var idx = parseInt($(this).attr("data-index"), 10);
            $(this).prop("checked", mask.charAt(idx) === "1");
        });
        buildWorkdayMask();
    }

    function buildWorkdayMask() {
        var mask = "";
        $(".workday").each(function () {
            mask += $(this).is(":checked") ? "1" : "0";
        });
        $("#workdayMask").val(mask);
    }

    function toggleScheduleMode() {
        var rotation = $("#scheduleMode").val() === "ROTATION";
        $(".rotation-config").toggle(rotation);
        if (!rotation) {
            $("#rotationWorkDays").val("");
            $("#rotationRestDays").val("");
        }
    }

    function addPeriodRow(period) {
        period = period || {};
        var index = $("#periodTable tbody tr").length + 1;
        var segmentName = period.segmentName || ("第" + index + "段");
        var startTime = period.startTime || "";
        var endTime = period.endTime || "";
        var validBegin = period.validBeginTime || startTime;
        var validEnd = period.validEndTime || endTime;
        var needInPunch = period.needInPunch || "1";
        var needOutPunch = period.needOutPunch || "1";
        var crossDay = period.crossDay || "0";
        var segmentRemark = period.segmentRemark || "";
        var tr = '';
        tr += '<tr>';
        tr += '<td class="text-center seq">' + index + '</td>';
        tr += '<td><input type="text" name="segmentName" class="form-control" maxlength="32" value="' + segmentName + '"></td>';
        tr += '<td><input type="text" name="periodStart" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" value="' + startTime + '" required></td>';
        tr += '<td><input type="text" name="periodEnd" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" value="' + endTime + '" required></td>';
        tr += '<td><input type="text" name="validBegin" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" value="' + validBegin + '" required></td>';
        tr += '<td><input type="text" name="validEnd" class="form-control shift-time-input" placeholder="HH:mm" maxlength="5" autocomplete="off" value="' + validEnd + '" required></td>';
        tr += '<td><select name="needInPunch" class="form-control">' + buildYesNoOptions(needInPunch) + '</select></td>';
        tr += '<td><select name="needOutPunch" class="form-control">' + buildYesNoOptions(needOutPunch) + '</select></td>';
        tr += '<td><select name="crossDay" class="form-control">' + buildYesNoOptions(crossDay) + '</select></td>';
        tr += '<td><input type="text" name="segmentRemark" class="form-control" maxlength="100" value="' + segmentRemark + '"></td>';
        tr += '<td class="text-center"><a href="javascript:void(0)" class="btn btn-danger btn-xs" onclick="removePeriodRow(this)"><i class="fa fa-remove"></i></a></td>';
        tr += '</tr>';
        $("#periodTable tbody").append(tr);
    }

    function removePeriodRow(btn) {
        $(btn).closest("tr").remove();
        reindexRows();
    }

    function reindexRows() {
        $("#periodTable tbody tr").each(function (i) {
            $(this).find(".seq").text(i + 1);
            var nameInput = $(this).find("input[name='segmentName']");
            if ($.common.isEmpty($.common.trim(nameInput.val())) || /^第\d+段$/.test($.common.trim(nameInput.val()))) {
                nameInput.val("第" + (i + 1) + "段");
            }
        });
    }

    function buildYesNoOptions(selectedValue) {
        var html = '';
        $.each(yesNoDatas || [], function (idx, item) {
            var selected = item.dictValue === selectedValue ? ' selected' : '';
            html += '<option value="' + item.dictValue + '"' + selected + '>' + item.dictLabel + '</option>';
        });
        return html;
    }

    function validatePeriods() {
        if ($("#periodTable tbody tr").length === 0) {
            $.modal.alertWarning("请至少配置一个班段");
            return false;
        }
        var valid = true;
        $("#periodTable tbody tr").each(function () {
            $(this).find("input[name='periodStart'], input[name='periodEnd'], input[name='validBegin'], input[name='validEnd']").each(function () {
                var value = $.common.trim($(this).val());
                if ($.common.isEmpty(value) || !timePattern.test(value)) {
                    valid = false;
                    $(this).addClass("is-invalid");
                } else {
                    $(this).removeClass("is-invalid");
                }
            });
            var needIn = $(this).find("select[name='needInPunch']").val();
            var needOut = $(this).find("select[name='needOutPunch']").val();
            if (needIn !== "1" && needOut !== "1") {
                valid = false;
            }
        });
        if (!valid) {
            $.modal.alertWarning("请检查班段配置：时间必须为 HH:mm，且每个班段至少保留一个打卡节点");
        }
        return valid;
    }

    function submitHandler() {
        buildWorkdayMask();
        if (!$.validate.form()) {
            return;
        }
        if ($.common.isEmpty($("#postType").val())) {
            $.modal.alertWarning("请选择岗位");
            return;
        }
        if (!validatePeriods()) {
            return;
        }
        if ($("#scheduleMode").val() === "ROTATION") {
            if ($.common.isEmpty($("#rotationWorkDays").val()) || $.common.isEmpty($("#rotationRestDays").val())) {
                $.modal.alertWarning("轮班模式下请填写上班天数和休息天数");
                return;
            }
        }
        var data = $("#form-shift-edit").serializeArray();
        data.push({name: "status", value: $("#status").is(":checked") ? 0 : 1});
        data.push({name: "summerExtendEnabled", value: 0});
        data.push({name: "summerExtendMinutes", value: 30});
        $.operate.saveTab(prefix + "/edit", data);
    }
</script>
</body>
</html>
