<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('select employee')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="select-employee-form">
                <input type="hidden" name="status" value="0"/>
                <div class="select-list">
                    <ul>
                        <li>
                            <label>&#24037;&#21495;&#65306;</label>
                            <input type="text" name="loginName"/>
                        </li>
                        <li>
                            <label>&#22995;&#21517;&#65306;</label>
                            <input type="text" name="userName"/>
                        </li>
                        <li>
                            <label>&#25163;&#26426;&#21495;&#65306;</label>
                            <input type="text" name="phonenumber"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('select-employee-form')">
                                <i class="fa fa-search"></i>&nbsp;&#25628;&#32034;
                            </a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetQuery()">
                                <i class="fa fa-refresh"></i>&nbsp;&#37325;&#32622;
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<script>
    var prefix = ctx + "hr/shift";

    $(function () {
        var options = {
            url: prefix + "/selectEmployee/list",
            formId: "select-employee-form",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            columns: [{
                checkbox: true
            }, {
                field: "userId",
                title: "ID"
            }, {
                field: "loginName",
                title: "\u5de5\u53f7"
            }, {
                field: "userName",
                title: "\u59d3\u540d"
            }, {
                field: "dept",
                title: "\u90e8\u95e8",
                formatter: function (value, row) {
                    return row.dept ? row.dept.deptName : "";
                }
            }, {
                field: "phonenumber",
                title: "\u624b\u673a\u53f7"
            }]
        };
        $.table.init(options);
    });

    function getSelections() {
        return $("#bootstrap-table").bootstrapTable("getSelections");
    }

    function resetQuery() {
        $("#select-employee-form")[0].reset();
        $.table.search("select-employee-form");
    }
</script>
</body>
</html>
