<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('编辑员工')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body>
<div class="main-content">
    <form id="form-employee-edit" class="form-horizontal" th:object="${employee}">
        <input name="hrEmployeeId" type="hidden" th:field="*{hrEmployeeId}"/>
        <input id="userId" name="userId" type="hidden" th:field="*{userId}"/>
        <input id="deptId" name="deptId" type="hidden" th:field="*{deptId}"/>

        <h4 class="form-header h4">基础信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">员工：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="userNameDisplay" type="text" class="form-control" th:value="*{userName}" onclick="selectUser()" placeholder="请选择员工" readonly required>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">所属部门：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="deptNameDisplay" type="text" class="form-control" th:value="*{deptName}" onclick="selectDeptTree()" placeholder="请选择所属部门" readonly required>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">工号：</label>
                    <div class="col-sm-8">
                        <input name="employeeNo" class="form-control" maxlength="64" th:field="*{employeeNo}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">工种：</label>
                    <div class="col-sm-8">
                        <input name="jobType" class="form-control" maxlength="64" th:field="*{jobType}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">默认班次：</label>
                    <div class="col-sm-8">
                        <select name="defaultShiftId" class="form-control m-b">
                            <option value="">请选择默认班次</option>
                            <option th:each="shift:${shifts}" th:value="${shift.shiftId}" th:selected="${employee.defaultShiftId == shift.shiftId}" th:text="${shift.shiftName + ' (' + shift.shiftCode + ')'}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">入职日期：</label>
                    <div class="col-sm-8">
                        <input type="text" name="joinDate" class="form-control time-input" th:value="${#dates.format(employee.joinDate, 'yyyy-MM-dd')}" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">设备工号：</label>
                    <div class="col-sm-8">
                        <input name="deviceUserNo" class="form-control" maxlength="64" th:field="*{deviceUserNo}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">参与考勤：</label>
                    <div class="col-sm-8">
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" id="attendEnabled" th:checked="${employee.attendEnabled == '1'}">
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">在职状态：</label>
                    <div class="col-sm-8">
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" id="workStatus" th:checked="${employee.workStatus == '0'}">
                            <span></span>
                        </label>
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 打开=在职，关闭=离职</span>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="form-header h4">备注信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">备注：</label>
                    <div class="col-xs-10">
                        <textarea name="remark" maxlength="500" class="form-control" rows="3">[[*{remark}]]</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i> 保存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i> 关闭</button>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script>
    var prefix = ctx + "hr/employee";

    $(function () {
        $("input[name='joinDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("#form-employee-edit").validate({
            onkeyup: false,
            focusCleanup: true
        });
    });

    function selectDeptTree() {
        var deptId = $.common.isEmpty($("#deptId").val()) ? "100" : $("#deptId").val();
        var url = prefix + "/selectDeptTree/" + deptId;
        var btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-trash-o"></i> 清除', '<i class="fa fa-close"></i> 关闭'];
        var options = {
            title: "选择部门",
            width: "380",
            url: url,
            btn: btn,
            btn2: function (index) {
                $("#deptId").val("");
                $("#deptNameDisplay").val("");
                $("#userId").val("");
                $("#userNameDisplay").val("");
                $.modal.close(index);
            },
            callBack: doDeptSubmit
        };
        $.modal.openOptions(options);
    }

    function doDeptSubmit(index) {
        var body = $.modal.getChildFrame(index);
        $("#deptId").val(body.find("#treeId").val());
        $("#deptNameDisplay").val(body.find("#treeName").val());
        $("#userId").val("");
        $("#userNameDisplay").val("");
        $.modal.close(index);
    }

    function selectUser() {
        var deptId = $("#deptId").val();
        var url = prefix + "/selectUser";
        if (!$.common.isEmpty(deptId)) {
            url += "?deptId=" + deptId;
        }
        var options = {
            title: "选择员工",
            width: "1000",
            url: url,
            callBack: doUserSubmit
        };
        $.modal.openOptions(options);
    }

    function doUserSubmit(index) {
        var body = $.modal.getChildFrame(index);
        var userId = body.find("#selectedUserId").val();
        if ($.common.isEmpty(userId)) {
            $.modal.alertWarning("请选择员工");
            return;
        }
        $("#userId").val(userId);
        $("#userNameDisplay").val(body.find("#selectedUserName").val());
        $("#deptId").val(body.find("#selectedDeptId").val());
        $("#deptNameDisplay").val(body.find("#selectedDeptName").val());
        $.modal.close(index);
    }

    function submitHandler() {
        if (!$.validate.form()) {
            return;
        }
        if ($.common.isEmpty($("#userId").val())) {
            $.modal.alertWarning("请选择员工");
            return;
        }
        if ($.common.isEmpty($("#deptId").val())) {
            $.modal.alertWarning("请选择部门");
            return;
        }
        var data = $("#form-employee-edit").serializeArray();
        data.push({name: "attendEnabled", value: $("#attendEnabled").is(":checked") ? "1" : "0"});
        data.push({name: "workStatus", value: $("#workStatus").is(":checked") ? "0" : "1"});
        $.operate.saveTab(prefix + "/edit", data);
    }
</script>
</body>
</html>
