<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('选择员工')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="select-user-form">
                <input type="hidden" id="deptId" name="deptId" th:value="${deptId}"/>
                <input type="hidden" name="status" value="0"/>
                <div class="select-list">
                    <ul>
                        <li>
                            <label>工号：</label>
                            <input type="text" name="loginName"/>
                        </li>
                        <li>
                            <label>姓名：</label>
                            <input type="text" name="userName"/>
                        </li>
                        <li>
                            <label>手机号：</label>
                            <input type="text" name="phonenumber"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('select-user-form')">
                                <i class="fa fa-search"></i>&nbsp;搜索
                            </a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetQuery()">
                                <i class="fa fa-refresh"></i>&nbsp;重置
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<script>
    var prefix = ctx + "hr/schedule";
    var initialDeptId = $("#deptId").val();

    $(function () {
        var options = {
            url: prefix + "/userList",
            formId: "select-user-form",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            singleSelect: true,
            uniqueId: "userId",
            columns: [{
                checkbox: true
            }, {
                field: "userId",
                title: "用户ID",
                visible: false,
                switchable: false
            }, {
                field: "loginName",
                title: "工号"
            }, {
                field: "userName",
                title: "姓名"
            }, {
                field: "dept",
                title: "部门",
                formatter: function (value, row) {
                    return row.dept ? row.dept.deptName : "";
                }
            }, {
                field: "phonenumber",
                title: "手机号"
            }]
        };
        $.table.init(options);
    });

    function getSelections() {
        return $("#bootstrap-table").bootstrapTable("getSelections");
    }

    function resetQuery() {
        $("#select-user-form")[0].reset();
        $("#deptId").val(initialDeptId);
        $.table.search("select-user-form");
    }
</script>
</body>
</html>
